.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  height: 400px;
  padding: 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 20px;
  background-color: rgb(73, 87, 191);
  color: white;
}

.card > img {
  width: 100%;
  border-radius: 20px;
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.favButton {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 600;
}

.favButton:hover{
  transform: scale(1.02);
}

.favButton:active{
  background-color: rgb(104, 104, 104);
  color: gray;
}
