footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  height: 40px;
}

footer > img {
  width: 200px;
  margin: 0;
}
footer > p {
  margin: 0;
  padding-top: 0.7rem;
}
